:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* new styles */

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.quarter {
  margin-bottom: 12px;
}

.quarter > p {
  background-color: beige;
  color: #cd5b30;
  margin: 0;
  padding: 5px;
}

.flex-container .lesson {
  background-color: #b5b5b5;
  border: solid 1px #000000;
  line-height: 30px;
  margin: 2px;
  padding: 5px;
  text-align: left;
}

.pre-req-select {
  background-color: green !important;
}

.without-pre-req-select {
  background-color: white !important;
}

#start_btn {
  margin-left: 15px;
  width: 70px;
  height: 30px;
}

.available {
  background-color: white !important;
}

.taken {
  background-color: green !important;
}
